.caro {
  background: #f5f5f5;
  border-bottom: 3px solid #efeef5;
  border-top: 3px solid #efeef5;
  //   border-bottom: 3px solid #efeef5;
  //   border-top: 3px solid #efeef5;
  //   margin-top: 10px;
  .caro-child {
    // width: 92%;
    // margin: 0 auto;
    // padding: 0 33px 27px 33px;
    // border: 1px solid;
    .title-head {
      //   padding: 30px 0 15px 0;
      //   color: #111;
      //   text-transform: uppercase;
    }
    .caro-cpn {
      .parent-carosel {
        display: flex !important;
        .img-carosel {
          margin: 5px;
          .img-child {
            width: 100%;
          }
          .title-carosel {
            color: #111;
            font-size: 13px;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
